WindowsFormsApplication1/WindowsFormsApplication1/obj/
WindowsFormsApplication1/.vs/WindowsFormsApplication1/v14/.suo
WindowsFormsApplication1/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.vshost.exe
*.exe
WindowsFormsApplication1/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.pdb
WindowsFormsApplication1/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.exe.config