WindowsFormsApplication1/.vs/WindowsFormsApplication1/v14/.suo
WindowsFormsApplication1/WindowsFormsApplication1/bin/
WindowsFormsApplication1/WindowsFormsApplication1/App.config
WindowsFormsApplication1/WindowsFormsApplication1/obj/

